<ion-content>
  <ion-card>
    <ion-card-header color="success">
      <ion-card-title>Order Descriptions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label>Flavours</ion-label>
          <ion-input placeholder="Enter Flavours"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Pounds</ion-label>
          <ion-input placeholder="Enter Pounds"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-input placeholder="Enter Quantity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Remarks</ion-label>
          <ion-textarea rows="4" cols="5" placeholder="Enter Remarks"></ion-textarea>
        </ion-item>
        <ion-item lines="none">
          <ion-button>Add To Cart</ion-button>
          <ion-button color="danger">Close</ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>