// ion-content.background{
//     --background: url('../../assets/images/background.jpg') no-repeat center/cover; 
//     //--background-size:cover;
//    // --background-position:center;
// }

ion-card{
    margin:2px;
    padding: 3px;   
}
ion-card-title{
    font-weight:bold;
    font-size: 11pt;
}