<app-header></app-header>
<ion-content class="background">
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card color="light" routerLink="/cakes/cake-detail">
                    <img src="../../assets/images/cake3.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Chocolate Cake</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs200/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="light">
                    <img src="../../assets/images/cake2.JPG" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Vanilla Cake</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs300/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="light" routerLink="/cakes/cakes">
                    <img src="../../assets/images/cake5.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Strawberry Cake</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs200/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="light">
                    <img src="../../assets/images/cake4.jpeg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Black Forest</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs300/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card color="light" routerLink="/cakes/cake-detail">
                    <img src="../../assets/images/carrot.jpeg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Carrot Cake</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs200/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card color="light">
                    <img src="../../assets/images/apple.jpg" height="100px" width="100px">
                    <ion-card-header>
                        <ion-card-title>Apple Cake</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-card-subtitle>Price Rs300/Pound</ion-card-subtitle>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<app-footer></app-footer>